body {
  background-color:#253439 !important;
  overflow-x: hidden;
  font-family: 'Shrikhand', cursive !important;
  min-width: 900px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

hr {
  width: 70vw;
  background: linear-gradient(to right, rgb(255, 98, 0) 0%, rgb(167, 79, 255) 100%) !important;
  border: 0px;
  height: 6px !important;
  border-radius: 50%;
  margin-bottom: 5rem;
}

/********* MouseLight **********/
.flashlight {
  position: fixed;
  left: 1.5vw;
  top: 50vh;
  width: 200px;
}

img.flashlight-content {
  width: 3rem;
  border: 0px;
  transition: all .4s ease-in-out; 
  filter: brightness(0%);
}

img.flashlight-content:hover {
  display: center;
  justify-content: center;
  transform: scale(1.5); 
}

@media (min-width: 320px) and (max-width: 800px) {
  body {
   width: 100%;
   background-color:#253439 !important;
 }
 }
 